.ReviewFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.ReviewForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; /* increased width to 80% of the screen */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ddd;
  max-width: 1000px; /* set a maximum width to prevent the form from becoming too wide */
}

.ReviewForm h2 {
  margin-bottom: 20px;
}

.ReviewForm label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.ReviewForm input,
.ReviewForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.ReviewForm textarea {
  height: 100px;
  resize: vertical;
}

.ReviewForm button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.ReviewForm button:hover {
  background-color: #45a049;
}

.ReviewForm .warning {
  color: red;
  margin-bottom: 10px;
}

.ReviewForm .submitted-message {
  margin-top: 20px;
}
.stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.stars input[type="radio"] {
    display: none;
}

.stars label {
    font-size: 2rem;
    color: #ddd;
    cursor: pointer;
    background-color: white;
    /* border: 1px solid #ccc; */
    margin: 0 0.1rem;
    padding: 0.1rem;
    border-radius: 0.2rem;
}

.stars label:hover,
.stars label:hover ~ label,
.stars input[type="radio"]:checked ~ label {
    color: gold;
    border-color: gold;
}

.submitted-message {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.submitted-message h3 {
  margin-top: 0;
}

.submitted-message p {
  margin-bottom: 10px;
}

.submitted-message p:last-child {
  margin-bottom: 0;
}